.add-product-modal-container {
  width: 30% !important;
  font-family: Poppins;
  background: white;
  padding: 15px;
  border-radius: 10px;
  max-height: 100vh;
  overflow-y: auto; /* Enable vertical scrolling */
}
.add-product-modal-header {
  display: flex;
  border-bottom: 1px solid #8b008b !important;
  justify-content: space-between;
}
.add-product-header-text {
  font-size: 22px;
  font-weight: 500;
  color: #8b008b !important;
}
.modal-close {
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
.modal-close:hover {
  color: black;
}
.close-icon {
  width: 25px;
  height: 25pxs;
}
.close-icon path {
  stroke: white !important;
}
.product_form .form-label {
  font-size: 16px;
}
.modal-button {
  margin: 20px 0px;
  display: flex;
}
.add-button-container {
  padding: 10px 15px;
  display: flex;
  margin-top: 0px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  color: white !important;
  background: #8b008b !important;
  flex-wrap: wrap;
  border-radius: 5px;
  height: auto;
  font-family: Poppins;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.add-product-modal-header a {
  background-color: #8b008b;
}
.add_product:focus {
  border: 1px solid #8b008b !important;
  box-shadow: none !important;
}
.preview_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  display: block;
}
#product_details {
  height: 30px;
}

.add_product_modal {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.add-product-modal-container::-webkit-scrollbar {
  display: none;
}
