.delete-product-modal-header {
  display: flex;
  justify-content: center;
  padding: 5px 0px !important;
}
.delete-product-header-text {
  font-size: 18px !important;
  font-weight: 500 !important;
  color: red;
}
.delete-modal-close {
  width: 25px;
  height: 25px;
}
.delete-close-icon {
  width: 25px;
  height: 25px;
}
.delete-close-icon path {
  stroke: gray !important;
}
.product_form .form-label {
  font-size: 16px;
}
.modal-button {
  margin: 20px 0px;
  display: flex;
}
.delete-modal-cancel {
  padding: 0px 15px;
  margin-top: 0px;
  font-size: 12px;
  background: lightgray;
  flex-wrap: wrap;
  border-radius: 5px;
  height: 35px;
  margin-right: 5px;
}
.delete-button-container {
  padding: 0px 15px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  color: white;
  background: #e32636;
  flex-wrap: wrap;
  border-radius: 5px;
  height: 35px;
  font-family: Poppins;
  align-items: center;
  justify-content: center;
}
.cancel-button-container {
  padding: 10px 0px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  color: gray;
  background: transparent;
  font-family: Poppins;
}
.buttons-container {
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.delete_product_modal {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-product-modal-container {
  width: 30% !important;
  font-family: Poppins;
  background: white;
  padding: 15px;
  border-radius: 10px;
  max-height: 100vh;
  overflow-y: auto; /* Enable vertical scrolling */
}
